body {
	background: #FAEBD7 url('../images/decor-flatlay-from-above-1470171.jpg');
	color: black;
	background-repeat: no-repeat;
  	background-size: 120%;
}

a {
	text-decoration: none;
	color: #333;
}

p {
	font-size: 8pt;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	//background-color: rgb(7, 171, 131);
	color: black;
	min-height: 100px;
	margin-top: 120px;
	margin-bottom: 70px;
}

header h1 {
	padding: 10px 10px;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 40pt;
	text-decoration: underline;
}


/* Nav styles */
nav { 
	background-color: rgb(7, 171, 131); 
	opacity:0.5;}
nav ul { 
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;

}
nav li { padding: 20px 10px; }
nav a { color: white; }
nav a:hover { color: tomato; }

/* Main styles */
main { 
	background-color: white;
	display: grid;
	grid-template-columns: 60% 40%;
	font-family: 'Montserrat', sans-serif;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}


/* Footer styles */
footer { 
	background-color: rgb(7, 171, 131);
	color: white;
	text-align: center;

 }
 footer p { 
 	padding: 10px;}
