
body {
	background: #FCFCFC;
	color: #202020;
	box-sizing: border-box;
}

.header p {
	padding: 100px 0px 0px 80px;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	line-height: 20px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	padding-bottom: 5px;
}

ul {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Header Header Header Header" "Left Middle Media Media" "Left Middle Media Media";
}

.Header { 
	grid-area: Header; }

.Left { 
	grid-area: Left; 
	padding: 0px 60px 0px 80px;
}

.Middle { 
	grid-area: Middle; }

.Media { 
	grid-area: Media; }

/*SLIDESHOW*/

.mySlides {
	display:none;
}

img {
  object-fit: cover;
  width:700px;
  height:350px;
}