
body {
	background: #FCFCFC;
	color: #202020;
	box-sizing: border-box;
}

h1 {
	font-family: 'EB Garamond', serif;
	font-size: 2.2em;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	padding-bottom: 5px;
}

p {
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	line-height: 20px;
}

.header p {
	padding: 100px 0px 0px 80px;
}

ul {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Header Header Header Header" "Left Middle Media Media" "Left Middle Media Media";
}

.Header { 
	grid-area: Header; 
}

.Left { 
	grid-area: Left; 
	padding: 0px 60px 0px 80px;
}

.Middle { 
	grid-area: Middle; 
	padding: 2px 60px 0px 0px;
}

.Middle a {
	text-decoration: none;
}

.Media { 
	grid-area: Media; 
}

/*SLIDESHOW*/

.mySlides {
	display:none;
}

.w3-content, w3-section {
		padding-right: 90px;
}

img {
  object-fit: cover;
  width:700px;
  height:350px;
}

/*PORTFOLIO PAGES*/

.portfolio-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.portfolio-about,
.portfolio-images {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.portfolio-about::-webkit-scrollbar,
.portfolio-images::-webkit-scrollbar {
  display: none;
}

.portfolio-about {
  width: 20rem;
  padding: 10px 0px 0px 20px;
}

.portfolio-images {
  width: 80rem;
  padding: 70px 0px 0px 40px;
}

.portfolio-about-text {
  padding: 60px 0px 0px 40px;
}

.portfolio-about-header {
  padding: 0px 0px 40px 0px;
}
